body {
    background-color: antiquewhite;
}

h1 {
    color:darkolivegreen;
    text-align: center;
    font-family: cursive;
}

p {
    color:darkslategrey;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}